In [2]:
#tuple closed with first braket
#list closed with third braket
#List is mutable and tuple is inmutable(can not be updated)
#normally tuple is used for heterogeneous(different) datatypes and list used for homogeneous(similar) datatypes
#since tuple are immutable, iterating, so tuple is faster than list
#if we have data that doesn't change, implementing is as tuple will be guarantee that it remains write-protected.

In [3]:
#creating an empty tuple
tuple1=()
print(tuple1)
#creating tupes with integer elements
tuple2=(1,2,3)
print(tuple2)
#tuple with mixed datatypes
tuple3= (101,"Alim",302,"Milon")
print(tuple3)

()
(1, 2, 3)
(101, 'Alim', 302, 'Milon')

In [4]:
#creation of nested tuple(list inside tuple)
t4=("Apple",[1,2,3],(4,5,6))
print(t4)
#tuple can be created without any parentheses
#also called tuple packing
t5=233,"Milon",34242,"CSE"
print(t5)
#tuple unpacking is also possible
empid,empname,empsal,empdept = t5
print(empid)
print(empname)
print(empsal)
print(empdept)

print(type(t5))

('Apple', [1, 2, 3], (4, 5, 6))
(233, 'Milon', 34242, 'CSE')
233
Milon
34242
CSE
<class 'tuple'>

In [5]:
#accessing elements in a tuple
t6=('s','d','w','e','t','y','f')
print(t6)
print(t6[2])
print(t6[5])
print(t6[3])

#nested tuple
nest_t7=("point",[1,2,4],(5,6,7))
print(nest_t7)
print(nest_t7[0][3])
print(nest_t7[1][2])
print(nest_t7[2][0])

('s', 'd', 'w', 'e', 't', 'y', 'f')
w
y
e
('point', [1, 2, 4], (5, 6, 7))
n
4
5

In [6]:
#slicing tuple contents
t8 = ('e','t','f','c','s','g')
print(t8[1:4])
print(t8[:-3])
print(t8[4:])
print(t8[:])

('t', 'f', 'c')
('e', 't', 'f')
('s', 'g')
('e', 't', 'f', 'c', 's', 'g')

In [8]:
#tuple elements are immutable
t9 = ('e','t','f','c','s','g')
print(t9)
#t9[2]='X' #error

#tupels can be reassigned
t9=('r','d','w','a','o','i','c')
print(t9)

('e', 't', 'f', 'c', 's', 'g')
('r', 'd', 'w', 'a', 'o', 'i', 'c')

In [9]:
#concatenation of tuples
t10=('w','d','a')
t11=('o','k','e')
print(t10)
print(t11)
print(t10+t11)
print(("again,")*4)

('w', 'd', 'a')
('o', 'k', 'e')
('w', 'd', 'a', 'o', 'k', 'e')
again,again,again,again,

In [11]:
#deletion operation on a tuple
t12 =('s','d','w','e','t','y','f')
#as immutableso elements can not be deleted
#del t12[3] #error

#but can deleted entire tuple
del t12
print(t12)

NameError: name 't12' is not defined

In [12]:
#tuple methods
t13 =('s','d','s','e','t','d','s')
print(t13.count('s'))
print(t13.index('d'))

3
1

In [13]:
#tuple operations
t14=('s','d','s','e','t','d','s')
#membership
print('s' in t14)
print('d' not in t14)
print('a' in t14)
print('t' not in t14)

True
False
False
False

In [14]:
#iteration through tuple elements
t15= ('s','d','s','e','t','d','s')
for letters in t15:
    print("letter is ->", letters)

letter is -> s
letter is -> d
letter is -> s
letter is -> e
letter is -> t
letter is -> d
letter is -> s

In [15]:
#built-in functions with tuple
t16=(22,33,44,55,66,77)
print(t16)

print(max(t16))
print(min(t16))
print(sorted(t16))
print(len(t16))

(22, 33, 44, 55, 66, 77)
77
22
[22, 33, 44, 55, 66, 77]
6