In [1]:
#python sets : unordered collection of unique items.No duplicate elements.must be immutable(can not be changed)
#but set itself is mutable.we can add or remove items from it
#Sets can be used to perform mathematical set operations like union, intersection, symmetric difference etc

In [4]:
#createing sets
#set of integers
s1={11,22,33,44,55}
print(s1)
#set of mixed datatypes
s2={11,'s',(2,3,4)}
print(s2)
#duplicate values are not allowed.duplicate values will be convert to a single value
s3={3,4,4,5,6,}
print(s3)

{33, 11, 44, 22, 55}
{'s', 11, (2, 3, 4)}
{3, 4, 5, 6}

In [7]:
#set cannot have mutable items
#s4={1,2,{3,4}} #error
#we can make set from a list
s5 = set([1,2,3,3])
print(s5)
print(type(s5))
#we can make list from a set
s6=list({11,22,33,44})
print(s6)
print(type(s6))

{1, 2, 3}
<class 'set'>
[33, 11, 44, 22]
<class 'list'>

In [12]:
#operations on sets
s7={11,22,33,44,55}
print(s7)
#set object does not support indexing
#s7[0] #error
#add on element
s7.add(66)
print(s7)

#add multiple elements
s7.update([88,99,77])
print(s7)
#add list and set
s7.update([100,200],{300,400,500})
print(s7)

{33, 11, 44, 22, 55}
{33, 66, 11, 44, 22, 55}
{33, 66, 99, 11, 44, 77, 22, 55, 88}
{33, 66, 99, 100, 200, 11, 44, 77, 300, 400, 500, 22, 55, 88}

In [15]:
#remove and discord
#initialize set
s8={11,22,33,44,55}
print(s8)
#discord an element which is not present, no error
s8.discard(4)
print(s8)
#remove an element which is not present error raised
#s8.remove(3)
print(s8)
#discard an element
s8.discard(44)
print(s8)
s8.remove(55)
print(s8)

{33, 11, 44, 22, 55}
{33, 11, 44, 22, 55}
{33, 11, 44, 22, 55}
{33, 11, 22, 55}
{33, 11, 22}

In [16]:
#using pop()
#initialize s8
s9={11,22,33,44,55,66}
print(s9)
#pop an element
print(s9.pop())
#pop another element
print(s9.pop())
print(s9)
#clear s9
s9.clear()
print(s9)

{33, 66, 11, 44, 22, 55}
33
66
{11, 44, 22, 55}
set()

In [18]:
#set operations union
s10={0,1,2,3,4,5}
s11={4,5,6,7,7,8}
print(s10)
print(s11)

#user  | operator for union
print(s10 | s11)
print(s11 | s10)
print(s10.union(s11))
print(s11.union(s10))

{0, 1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{0, 1, 2, 3, 4, 5, 6, 7, 8}
{0, 1, 2, 3, 4, 5, 6, 7, 8}
{0, 1, 2, 3, 4, 5, 6, 7, 8}
{0, 1, 2, 3, 4, 5, 6, 7, 8}

In [19]:
#set operation - intersection
s10={0,1,12,3,3,4,5}
s11={4,5,6,7,7,8}
print(s10)
print(s11)
# Use & operator for initersection
print(s10 & s11)
print(s11 & s10)
print(s10.intersection(s11))
print(s11.intersection(s10))

{0, 1, 3, 4, 5, 12}
{4, 5, 6, 7, 8}
{4, 5}
{4, 5}
{4, 5}
{4, 5}

In [20]:
#set operations - difference
s10={0,1,12,3,3,4,5}
s11={4,5,6,7,7,8}
print(s10)
print(s11)
# Use & operator for difference
print(s10 - s11)
print(s11 - s10)
print(s10.difference(s11))
print(s11.difference(s10))

{0, 1, 3, 4, 5, 12}
{4, 5, 6, 7, 8}
{0, 1, 3, 12}
{8, 6, 7}
{0, 1, 3, 12}
{8, 6, 7}

In [22]:
#set operations ^ symmetric difference
s10={0,1,12,3,3,4,5}
s11={4,5,6,7,7,8}
print(s10)
print(s11)
# Use & operator for ^ symmetric difference (common elements will be no include)
print(s10 ^ s11)
print(s11 ^ s10)
print(s10.difference(s11))
print(s11.difference(s10))

{0, 1, 3, 4, 5, 12}
{4, 5, 6, 7, 8}
{0, 1, 3, 6, 7, 8, 12}
{0, 1, 3, 6, 7, 8, 12}
{0, 1, 3, 12}
{8, 6, 7}

In [24]:
#set membership
s10={0,1,12,3,3,4,5}
print(3 in s10)
print(7 in s10)
print(3 not in s10)
print(5 not in s10)

True
False
False
False

In [26]:
#iterating through a set
for letter in set("welcome"):
    print(letter)

o
w
c
e
m
l

In [28]:
# build-in function with set
s10={0,1,2,3,3,4,5}
print(len(s10))
print(max(s10))
print(min(s10))
print(sorted(s10))

6
5
0
[0, 1, 2, 3, 4, 5]

In [31]:
#python frozenset
#frozenset is a new class that has the characteristics
# of a set, but its elements cannot be changed once assigned.
#while tuples are immutable ilsts, frozensets are immutable sets.
#initialize A and B
s12=frozenset([1,2,3,4])
s13=frozenset([3,4,5,6])
print(s12)
print(s13)
print(s12.difference(s13))
print(s12.union(s13))
print(s12.intersection(s13)) #showing common value
print(s12.symmetric_difference(s13)) #showing uncommon value

frozenset({1, 2, 3, 4})
frozenset({3, 4, 5, 6})
frozenset({1, 2})
frozenset({1, 2, 3, 4, 5, 6})
frozenset({3, 4})
frozenset({1, 2, 5, 6})

In [32]:
s12.add(10)

AttributeError: 'frozenset' object has no attribute 'add'